/* CSS file */

/*
@font-face {
   src:url("../font/Consolas.ttf");
   fontFamily: Consolas;
}
*/
Button.btnDelete {
	skin: Embed("../img/delete.gif");
}


.MyFont {
	fontFamily: Calibri, Consolas, Arial, Helvetica, "_sans";
}

.AlertMessage {
	padding:0;
	fontFamily: Consolas, Arial;
	fontSize:11;
}
.AlertTitle {
	fontFamily: Consolas, Arial;
	fontSize:12;
}
Alert {
	messageStyleName: 'AlertMessage';
	titleStyleName: 'AlertTitle';
}