/* CSS file */

.App {
	backgroundColor: #D1D3D5;
}

.MainView {
	backgroundColor: #F3F3F3;
	borderStyle: solid;
	borderColor: #999999;
	borderThickness: 1;
	paddingLeft: 2;
	paddingRight: 1;
	paddingTop: 8;
	paddingBottom: 8;
	fontFamily: Calibri, Consolas, Arial, Helvetica, "_sans";
	fontSize: 14;
	color: #505164;
}

.ListView {
	borderColor: #999999;
	borderSides: top;
	borderStyle: solid;
}

.ListTasks {
	backgroundAlpha: 0;
	paddingBottom: 0;
	borderStyle: soild;
	borderSides: right;
	borderColor: #999999;	
}

.ListVerticalScrollBar {
	upArrowSkin: ClassReference(null);
	downArrowSkin: ClassReference(null);
	thumbUpSkin: ClassReference("flatasks.ui.skin.ScrollBarSkinThumb");
	thumbDownSkin: ClassReference("flatasks.ui.skin.ScrollBarSkinThumb");
	thumbOverSkin: ClassReference("flatasks.ui.skin.ScrollBarSkinThumb");
	trackSkin: ClassReference("flatasks.ui.skin.ScrollBarSkinTrack");
}